@model IEnumerable<Product>
@{
    Layout = "_Layout";
}
<div class="d-flex p-1">
     <a asp-route-productCategory="" asp-controller="Home" asp-action="Shop" class="btn m-1 btn-primary">Все</a>
    @foreach (var item in Model.Select(i=>i.Category).Distinct())
   {
    <a asp-route-productCategory=@item asp-controller="Home" asp-action="Shop" class="btn m-1 @(item==ViewBag.Category ? "btn-outline-primary" : "btn-primary")">@item</a>
   }
</div>
 @if (Model.Count()==0)
    {
    <h1 class="text-center p-5">У нас нет таких товаров :(</h1>
}
else
{
   <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">

        @foreach (var item in Model)
        {
            @await Html.PartialAsync("Product",item)
        }
</div>
}
